/* 导航栏 */
#page-header.nav-fixed #nav {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: var(--backdrop-filter);
}

[data-theme="dark"] #page-header.nav-fixed #nav {
  background: rgba(0, 0, 0, 0.7) !important;
}

/* 一级菜单居中 */
#nav .menus_items {
    display: inline;
    position: absolute;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
}

/* 去除标题栏蓝色条 */
#nav *::after{
    background-color: transparent!important;
}


